
<title>Music Match</title>

<div class='title-mid'>
<h1>MUSIC MATCH </h1>
<h2>Promote Yourself</h2>
</div>

<p>Are you an unsigned artist?
<br>
    Do you want the world to hear your talent?
<br>
    If you RAP/SING or play an INSTRUMENT, then this is where your future as an artist could begin!    
</p>
<p> If your wondering why should i use this app over other music apps (as theres alot out there!) then this is why... whats different about this music app is that you can battle against other music lovers. We've created this app so that you can promote yourself and let others see your music VS another person! You will recieve votes

</p>

<p> 3 Simple steps to becoming a <strong>STAR!</strong></p>
<ol>
  <li>Pick a genre</li>
  <li>Upload your track</li>
  <li>Get matched and wait for the votes to roll in</li>
  </ol>
       
         

<img src="http://www.nvbschools.org/thechristianeducator/wp-content/uploads/2011/12/be-a-star.jpg" width="200" height="200" alt="star"/>

