<html>
<head>

  <div id="header">
  <h1><link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nosifer">
<style>
  body {
  font-family: 'Graduate', serif;
  font-size: 18px;
}
</style> 
</h1>
 <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Graduate">
<style>
  body {
  font-family: 'Graduate', serif;
  font-size: 18px;
}

</style>
<a href="http://facebook.com/">facebook</a>  |  <a href="http://google.com/">google</a> | <a href="about">about</a> | <a href="/">homepage</a> | <a href="/page3">page3</a>  |  <a href="random">random</a>
<link rel="stylesheet" type="text/css" href="theme.css"/>
</head>
<body>
<%= yield%>

</body>

</html>
