


<h1> Music Match </h1>
<h2>Promote Yourself</h2>

<body>

</div>
<div id="content">
 <div id="feature">
  <p>Are you an unsigned artist? 
Do you want the world to hear your talent? 
If you RAP/SING or play an INSTRUMENT, then this is where your future as an artist could begin!

If your wondering why should i use this app over other music apps (as theres alot out there!) then this is why... whats different about this music app is that you can battle against other music lovers. We've created this app so that you can promote yourself and let others see your music VS another person! You will recieve votes

</p>
</div>
<div class="atricle column1">
  <p><img src="<%= choose_random(@b )%>" /> </p>
   
</div>
<div class="atricle column2">
  <p>VS</p>
</div>
<div class="atricle column3">
  <p><img src="<%= choose_random(@c) %>" /></p>
</div>
</div>

<div id="footer">
<p>&copy; Copyright 2012</p>
</div>
</body>


